body {
  margin: 0;
  background-image: radial-gradient(#78b9df, #a57bc7);
}
.blanco,
.blanco a {
  color: #fff;
  text-shadow: 2px 2px black;
  font-size: 1.2em;
}
.enlace a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
.enlace a:hover {
  border-left: 3px solid #f00;
  border-right: 3px solid #f00;
  color: #f00;
}
.img1 {
  height: 250px;
  border: 5px double blue;
  margin-left: 50px;
}
.img2 {
  height: 150px;
  border: 5px double blue;
}

/* /////////////////////////////////////////  hasta aqui las genericas  ///////////////////////////// */
#container {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 100px 250px 1fr 100px;
  grid-template-areas:
    "header header header"
    "aside    main    .   "
    "fotos  main    caja"
    "footer footer footer";
}
.header {
  background: #000;
  grid-area: header;
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-areas: "titulo links";
  align-items: center;
}
.titulo {
  grid-area: titulo;
  display: grid;
  justify-content: center;
}
.barra {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.barra a {
  margin: 10px;
  border-bottom: 1px solid #00f;
}
.aside {
  margin-top: 20px;
  display: grid;
  width: 80%;
  height: 40%;
  grid-template-rows: 80px 150px;
  justify-content: center;
  align-items: center;
  grid-area: aside;
}
.aside-titulo {
  text-align: center;
  font-size: 1.2em;
}
.aside-enlaces {
  display: grid;
  grid-template-rows: repeat(5, 30px);
  text-align: center;
  align-items: center;
}
.main {
  grid-area: main;
  width: 95%;
  margin-top: 20px;
}
p {
  text-align: left;
}
figcaption {
  text-align: center;
}
.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fotos {
  text-align: center;
  grid-area: fotos;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 250px 250px;
  grid-template-areas:
    "fotos-titulo"
    "fotos-f1"
    "fotos-f2";
}
.fotos-titulo {
  grid-area: fotos-titulo;
  display: grid;
  justify-content: start;
  margin-left: 40px;
}
.fotos-f1 {
  grid-area: fotos-f1;
}
.fotos-f1 figure {
  display: grid;
  justify-content: start;
}
.fotos-f2 {
  grid-area: fotos-f2;
}
.fotos-f2 figure {
  display: grid;
  justify-content: start;
}
.rotaciones {
  display: grid;
  grid-area: caja;
  grid-template-rows: 150px 150px 150px;
  grid-template-areas:
    "pos1"
    "pos2"
    "pos3";
}
.pos1 {
  grid-area: pos1;
}
.pos2 {
  grid-area: pos2;
}
.pos3 {
  grid-area: pos3;
}
.caja {
  width: 50px;
  height: 5px;
  margin: 0 auto;
  transform: rotate(1deg);
  animation-name: rotacion;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "derechos  redes";
  justify-content: center;
}
.derechos {
  grid-area: derechos;
  margin-left: 30px;
}
.redes {
  text-align: right;
  grid-area: redes;
  text-align: center;
}
/* medidas de 1200 ***********************************************************************/
@media screen and (max-width: 1200px) {
  #container {
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px 250px 1fr 80px;
    grid-template-areas:
      "header header "
      "aside    caja "
      "fotos  main "
      " .  main "
      "footer footer ";
  }
  .fotos {
    grid-area: fotos;
  }
  .aside {
    margin-left: 30px;
  }
  .fotos h3 {
    margin-left: 30px;
    text-align: center;
  }
  .header {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "titulo"
      " links";
    align-items: center;
  }
  .rotaciones {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px;
    grid-template-areas: "pos1 pos2 pos3";
    justify-content: center;
    align-items: center;
  }
  .pos1 {
    grid-area: pos1;
  }
  .pos2 {
    grid-area: pos2;
  }
  .pos3 {
    grid-area: pos3;
  }
  .main {
    position: relative;
    bottom: 140px;
    margin: 0 auto;
  }
  .imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .img1 {
    height: 300px;
  }
  .img2 {
    height: 120px;
  }
}
/**********************************************************         tamaño980    */
@media screen and (max-width: 980px) {
  #container {
    grid-template-columns: 100%;
    grid-template-rows: 130px 120px 200px 1fr 700px 140px;
    grid-template-areas:
      "header"
      "aside"
      "caja"
      " main "
      "fotos "
      "footer";
  }
  .aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
      "asideTitulo"
      "asideEnlaces";
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .aside-titulo {
    grid-area: asideTitulo;
    display: grid;
  }
  .aside-enlaces {
    grid-area: asideEnlaces;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 10px;
  }
  .img1{
    height: auto;
    width: 100%;   
    margin:0 auto; 
  }
  .img2{    
    height: auto;
    width: 100%;   
    margin:0 auto;
  }

  .fotos {
    position: relative;
    bottom: 120px;
    grid-area: fotos;
  }
  .fotos-titulo {
    justify-content: center;
    font-size: 1.2em;
  }
  .fotos-div-fotos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100%;
    grid-template-areas: "redes" "derechos";
    justify-content: center;
  }
}
@media screen and (max-width: 980px) {
  #container {
    grid-template-columns: 100%;
    grid-template-rows: 180px 120px 200px 1fr 600px 140px;
    grid-template-areas:
      "header"
      "aside"
      "caja"
      " main "
      "fotos "
      "footer";
  }
  .blanco{
    font-size: 0.9em;
  }
  .main{
    width:90%;
  }
  .img2 {
    width: 400px;
    height: auto;   
  }

}

