
body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#4499dd, #dd88ee);
}
#container {
  font-size: 1.2em;
  
  column-gap: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 1fr 1fr 100px;

  grid-template-areas:
    "header header  header "
    "aside    main     .   "
    "mensaje  main  mensaje2"
    ".       main       .   "
    "footer  footer   footer";
}
.centrado {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*cosas del header--cabecero*/
.header {
  background: #000000;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-areas: "titulo . barra";
  justify-content: space-around;
  box-shadow: 1px 2px 11px 5px #ccc;
}
.barra {
  display: flex;
  flex-direction: row;
}
.barra a {
  padding: 10px 10px 10px 0;
  margin: 0 20px;
  color: white;
  border-bottom: 2px solid blue;
  text-decoration: none;
  font-size: 1.5em;
}
.barra a:hover {
  color: cyan;
  border-bottom: 2px solid white;
}
.titulo {
  grid-area: titulo;
  color: white;
  padding: 0 20px;
}
/*LO RELACIONADO CON LA PARTE DEL*******MAIN**************** DE LA PÁGINA*/
.main {
  margin: 50px auto;
  background: transparent;
  grid-area: main;
}
.main article p {
  text-align: center;
  width: 90%;
  margin: 40px auto;
}
.img1 {
  height: 300px;
  border: 5px double blue;
}
.imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
figcaption {
  font-weight: bold;
}
/***********************ASIDE      ASIDE             ASIDE**************************/
.aside {
  grid-area: aside;
  opacity: 0.7;
  color: black;
  font-size: 1.3em;
}
.enlaces h3 {
  margin: 30px 0;
}
.enlaces a {
  color: blue;
  text-decoration: none;
  padding: 5px;
}

.enlaces a:hover {
  color: red;
  text-decoration: none;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/**********MENSAJE A LA IZQUIERDA CON FOTOS DE GATOS*****************************/

.mensaje {
  color: black;
  grid-area: mensaje;
}
.img2 {
  margin: 30px auto 10px auto;
  height: 150px;
  border: 5px double blue;
}
.mensaje2 {
  background: transparent;
  grid-area: mensaje2;
}

.footer {
  background: transparent;
  grid-area: footer;
  display: grid;
  grid-template-areas: "derechos  redes";
  justify-content: space-between;
  align-items: center;
}
.derechos {
  grid-area: derechos;
  margin-left:50px;
}
.redes a {
  grid-area: redes;
  font-size: 1.2em;
  padding: 15px;
  border: 1px solid blue;
  border-radius: 25px;
  margin-right:50px;
  text-decoration: none;
  color:blue;
}
.redes a:hover{
  border: 1px solid red;
  color:white;
}
.tamano1{
  padding:100px;
  background: blue;
  opacity:0.2;
  
}