body {
  margin: 0;
  background-image: radial-gradient(#78b9df, #a57bc7);
}
.blanco,
.blanco a {
  color: #fff;
  text-shadow: 2px 2px black;
  font-size: 1.2em;
}
.enlace a {
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.enlace a:hover {
  border-left: 3px solid #f00;
  border-right: 3px solid #f00;
  color: #f00;
}
.img {
  margin: 10px auto;
  width: 90%;
  border: 5px double blue;
}
/* /////////////////////////////////////////  hasta aqui las genericas  ///////////////////////////// */
#container {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  /* grid-template-rows: 100px 250px 1fr 100px;*/
  grid-template-areas:
    "header header header"
    "aside    main    .   "
    "fotos  main    caja"
    "footer footer footer";
}
.header {
  background: #000;
  grid-area: header;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: "titulo links";
  align-items: center;
  box-shadow: -1px -1px 8px 1px blue;
}
.titulo {
  grid-area: titulo;
  display: grid;
  justify-content: center;
  margin:0 10px;
}
.barra {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.barra a {
  margin: 10px;
  border-bottom: 1px solid #00f;
}
.aside {
  margin: 20px auto 0;
  display: grid;
  height: 30%;
  grid-area: aside;
  grid-template-areas:
    "asideTitulo"
    "asideEnlaces";
  align-items: flex-start;
}
.aside-titulo {
  grid-area: asideTitulo;
  text-align: center;
  font-size: 1.2em;
}
.aside-enlaces {
  grid-area: asideEnlaces;
  display: grid;
}
.main {
  grid-area: main;
  width: 100%;
  margin-top: 20px;
   text-align: center;
}
.main p{
  text-align:center;
}
.fotos {
  text-align: center;
  grid-area: fotos;
  display: grid;
  margin: 0 auto;
  height: 50%;
  position: relative;
  bottom: 30%;
  grid-template-columns: 100%;
  grid-template-areas:
    "fotos-titulo"
    "fotos-f1"
    "fotos-f2";
}
.fotos-titulo {
  grid-area: fotos-titulo;
}
.fotos-f1 {
  grid-area: fotos-f1;
}
.fotos-f2 {
  grid-area: fotos-f2;
}
.rotaciones {
  display: grid;
  grid-area: caja;
  position: relative;
  bottom: 70%;
  grid-template-areas:
    "pos1"
    "pos2"
    "pos3";
}
.pos1 {
  grid-area: pos1;
}
.pos2 {
  grid-area: pos2;
}
.pos3 {
  grid-area: pos3;
}
.caja {
  width: 50px;
  height: 5px;
  margin: 0 auto;
  transform: rotate(1deg);
  animation-name: rotacion;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "derechos  redes";
  justify-content: space-evenly;
}
.derechos {
  grid-area: derechos;
}
.redes {
  grid-area: redes;
}
/* medidas de 950 ***********************************************************************/
@media screen and (max-width: 950px) {
  #container {
    grid-template-columns: 100%;
    grid-template-areas:
      "header "
      "aside"
      "caja "
      "main "
      "fotos"
      "footer";
  }
  .header {  
    grid-template-areas:
      "titulo"
      " links";
    align-items: none;
  } 
  .aside-enlaces{
    display:grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 40px;
  }
   .rotaciones {
    display: grid;    
    grid-template-areas: "pos1 pos2 pos3";
    position:normal;    
    bottom:0;
    }
    .main{
      width:90%;
      margin:0 auto;;
    }
  .pos1 {
    grid-area: pos1;
  }
  .pos2 {
    grid-area: pos2;
  }
  .pos3 {
    grid-area: pos3;
  }   
  .fotos {
   position:normal;
   height:100%;
  bottom:0;
  }    
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "redes" "derechos";
    margin:0 auto;
  }   
}
